// Mixin for generating new styles
@mixin btn-styles($btn-color, $btn-states-color) {
    border-color: $btn-color;
    color: $btn-color;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-color: $transparent-bg;
        color: $btn-states-color;
        border-color: $btn-states-color;
    }

    &.disabled,
    &:disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $transparent-bg;
            border-color: $btn-color;
        }
    }

    &.btn-fill {
        color: $white-color;
        background-color: $btn-color;
        @include opacity(1);

        &:hover,
        &:focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            background-color: $btn-states-color;
            color: $white-color;
        }

        .caret {
            border-top-color: $white-color;
        }
    }

    .caret {
        border-top-color: $btn-color;
    }
}

@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border) {
    font-size: $font-size;
    border-radius: $border;
    padding: $padding-vertical $padding-horizontal;

    &.btn-round {
        padding: $padding-vertical + 1 $padding-horizontal;
    }

    &.btn-simple {
        padding: $padding-vertical + 2 $padding-horizontal;
    }
}

@mixin btn-color($fill, $hover){
    border:none;
    border-radius: 5px;
    background:$fill;
    color: #f9f9f9;
    height: 36px;
    width: var(--width);
    transition: .05s;

    &:hover{background:$hover;}

    @media only screen and (max-width: 620px) {
        width: calc(var(--width) - var(--width)*20/100);
        font-size: 14px;
    }
    @media only screen and (max-width: 426px) {
        width: calc(var(--width) - var(--width)*30/100);
        height:26px;
        font-size: 12px;
    }
}

.btnBlue { @include btn-color(#3a3878, #2d2c5d) }
.btnRed{ @include btn-color(#fa0203, #e40025) }
.btnGreen { @include btn-color(#07732e, #005e0e) }
.btnGlass { @include btn-color(rgba(255,255,255,.05), rgba(255,255,255,.1)) }
.btnTintedGlass { @include btn-color(rgba(0,0,0,.025), rgba(0,0,0,.05)); border: 1px solid #00000010; color: #00000080}



.errorBox
{
    padding: 10px;
    border: 1px solid red;
    border-radius: 3px;
    background: #FF000010;
    margin: 0 2rem 1rem 2rem;
    p{color: #000;font-size: 12px; margin:0;}

    &.hideError{
        display: none; 
        > p{display: none;}
    }

}
