

.feinesBox
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feina
{
    position:relative;
    background: white;
    border-radius:15px;
    box-shadow: 3px 3px 6px #00000020;
    padding: 5rem 2rem 2rem 2rem;
    &:nth-child(1){padding: 2rem;}

    display:flex;
    flex-direction:column;

    select, input, textarea
    {
        width: 140px;
        height: 40px;

        border:none;
        outline:none;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 3px 6px #00000020;
        background: white;
        background: #A0A0A025;
    }
    input:read-only
    {
        background: #A0A0A040;
        box-shadow: none;
        border: 1px solid #A0A0A080;
    }
    input[name='id']{margin: 10px 0;}
    .row
    {
        display:flex;
        flex-direction:row;
        align-items: center;
        margin: 0 0 1rem 0;
        gap: 40px;
        .inputBox
        {
            display:flex; 
            align-items: center;
            gap: 5px;
            p{margin: 0;}
        }
    }
    .treballador
    {
        position: relative;
        p
        {
            position: absolute;
            top: -20px;
            margin: 0;
            font-size: 12px;
        }

    }
    textarea
    {
        width: 100%;
        min-height: 120px;
        margin-bottom: 2rem;
    }

    .material
    {
        position: relative;
        margin: 1rem 0 1rem 12rem;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        gap: 20px;

        textarea
        {
            min-height: 40px; 
            max-height: 40px; 
            width: 100%; 
            min-width: 180px; 
            margin: 0;
        }
        input[name='preuTotal']{position:absolute; right: 0;}
        input[type='number'], input[name='preuTotal']{width: 80px;}
        .inputBox{ 
            position:relative;
            p
            {
                margin: 0;
                position:absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 12px;
            }
        }
        .eliminar
        {
            position:absolute;
            top: 50%;
            left:-10px;
            transform:translate(-100%, -50%);
            padding: 1px 4px;
            border: 1px solid transparent;
            color: #d44e4f;
            font-size: 12px;
            border-radius: 5px;
            transition: .1s;
            cursor: pointer;
            &:hover{border: 1px solid #d44e4f;}
        }
    }
    .material:not(:first-child) p{display: none;}
    .btnTintedGlass{font-size: 14px; margin-left: 12rem;}

    .totalFeina
    {
        display:flex;
        justify-content: flex-end;
        align-items:center;
        gap:10px;
        p{font-size: 12px; margin:0;}
    }
    @media only screen and (max-width: 1200px) {
        .material{margin: 1rem 0 1rem 6rem;}
        .btnTintedGlass{margin-left: 6rem;}
    }
    @media only screen and (max-width: 760px) {
        select, input, textarea
        {
            width: 100px;
            height: 34px;
            font-size: 12px;
        }
        textarea{width: 100%;}
        .material{
            margin: 1rem 0 1rem 2rem;
            input[type='number'], input[name='preuTotal']{width: 60px;}
        }
        .btnTintedGlass{font-size: 12px; margin-left: 2rem;}

        .row
        {
            margin: 0 0 1rem 0;
            gap: 20px;
            .inputBox
            {
                flex-direction: column; 
                justify-content: center; 
                align-items: unset;
                p{font-size: 12px;}
            }
        }

        .treballador
        {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: unset;
            gap: 0;
            p{font-size: 12px;}
        }
    }
    @media only screen and (max-width: 452px) {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        /* Works for Firefox */
        input[type="number"] { -moz-appearance: textfield; }
        padding: 4rem 1rem 1rem 1rem;
        &:nth-child(1){padding: 1rem;}

        .material{
            gap:24px 10px;
            margin: 1rem 0 1rem 0;
            input[type='number']{width: 40px; padding: 5px;}

            .inputBox{p{font-size: 9px;top:-16px;}}
            .eliminar{
                left: 0;
                top:0;
                transform: translate(0, -110%);
            }
        }
        .material:not(:first-child){margin-top: 2rem;}
        .btnTintedGlass{margin-left: 0;}

        .row
        {
            gap: 16px;
            .inputBox
            {
                flex-direction: column; 
                justify-content: center; 
                align-items: unset;
                p{font-size: 10px;}
            }
        }

        .treballador
        {
            gap: 0;
            p{font-size: 10px;}
        }
    }
    @media only screen and (max-width: 348px) {
        select, input, textarea
        {
            width: 80px;
            height: 30px;
            font-size: 10px;
        }
        textarea{width: 100%;}
        .material{
            gap:24px 10px;
            input[type='number']{width: 30px !important;}
            input[name='preuTotal']{width: 40px; padding: 5px;}
            .eliminar{
                font-size: 10px;
            }
        }
        padding: 4rem .5rem .5rem .5rem;
        &:nth-child(1){padding: 1rem .5rem .5rem .5rem;}


    }
    
}
.eliminarFeina
{
    position:absolute;
    top: 1rem;
    margin: 0 !important;
    right: 2rem;
    @media only screen and (max-width: 760px) {
        right: 1rem;
    }
}

.time{
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{margin: 0; font-size: 18px; font-weight: 600;}

    .timer
    {
        &.active{svg:nth-child(1){display: none;}}
        &:not(.active){svg:nth-child(2){display: none;}}
        border:none;
        outline:none;
        background: none;
        svg
        {
            font-size: 46px;
            color:#3a3878;
            pointer-events: none;
        }
    }
    div
    {
        margin: 1rem;
        display: flex;
        gap: 10px;
        select
        {
            border:none;
            outline:none;
            background: white;

            height: 36px;
            width: 160px;
            border-radius: 5px;
            box-shadow: 3px 3px 6px #00000020;
            padding: 10px;
        }
    }
    @media only screen and (max-width: 426px) {
        div > select {height: 26px; font-size: 12px; padding: 0 10px;}
    }
}

.presupostFinal
{
    background: white;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #00000020;
    padding: 2rem;

    > div {
        margin-bottom: 4rem;

        .materialBox{margin-left: 2rem;}
    }

    @media only screen and (max-width: 460px){
        padding: 1.25rem;

        > div {    
            .materialBox{margin-left: 1.25rem;}
        }
    }
    @media only screen and (max-width: 320px){
        padding: 0.75rem;

        > div {    
            .materialBox{margin-left: 0.75rem;}
        }
    }
}
.inputBox:has(textarea){width: 100% !important; max-width: 450px;}